body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    color: black;
}

#headerContainer {
    position: relative;
    margin-bottom: 90px;
}

#headerText {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 16px 5px;
    background: black;
    background: rgba(0, 0, 0, 0.8); /* Black background with transparency */
}

#headerTopText {
    text-decoration: none;
    color: red;
    margin-top: 5%;
    margin-bottom: 30px;
}

#headerBottomText {
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
}

#headerImg {
    width: 100%;
    height: 100vh;
}

/* button to create restaurant */
#createRestaurant {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.removePadding{
    margin-left: 0px;
    margin-right: 0px;
}

/*  restaurant conainer */
.restaurantContainer {
    border: 1px solid black;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* restaurant name */
.restaurantName {
    color: black;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}