{% extends "index.html" %}

{% block body %}
<div class="container">
    <!-- main header -->
  <h1 class="statementHeader">Are you sure you want to delete {{ restaurant.name }} Restaurant?</h1>
  <form action="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id ) }}" method="post">
    <!-- center links -->
    <div class="centerLinks">
      <input type="submit" value="Delete" class="btn btn-danger">
      <a href="{{ url_for('showRestaurants', restaurants = restaurants )}}">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}