{% extends "index.html" %}

{% block body %}
<div class="container">
  <h1 class="statementHeader">Edit item</h1></br>
  <form action="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = editItem.id) }}" method="post" class="form-horizontal">


    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>

      <div class="col-sm-6">
        <input type="text" size="30" class="form-control" placeholder="{{ editItem.name }}" name="name">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>

      <div class="col-sm-6">
        <input type="text" size="30" class="form-control" placeholder="{{ editItem.description }}" name="description">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="price">Price:</label>

      <div class="col-sm-6">
        <input type="text" size="5" class="form-control" placeholder="{{ editItem.price }}" name="price">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{{ url_for('showMenu', restaurant_id = restaurant_id)}}" class="cancelLink">Cancel</a>

  </form>
</div>
{% endblock %}