{% extends "index.html" %}

{% block body %}
<div class="container">
  <h1 class="statementHeader">Edit Restaurant</h1>
  <form action="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Restaurant Name:</label>
      <div class="col-sm-6">
        <input type="text" size="30" class="form-control" placeholder="{{ restaurant.name }}" name="name">
      </div>

    <button type="submit" class="btn btn-primary" value="edit name">Submit</button>
    <a href="{{ url_for('showRestaurants', restaurants = restaurants)}}" class="cancelLink">Cancel</a>

    </div>
  </form>
</div>

{% endblock %}