{% extends "index.html" %}

{% block body %}
  <h1>New Menu Item for {{ restaurant.name }}</h1>
  <form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}" method="post">
    Name:</br>
    <input type="text" size="30" name="name"></br></br>

    Description:</br>
    <input type="text" size="30" name="description"></br></br>

    Price</br>
    <input type="text" size="5" name="price"></br></br>

    Course:</br>
    <input type="radio" name="course" value="appetizer" >Appetizer</br>
    <input type="radio" name="course" value="entree">Entree</br>
    <input type="radio" name="course" value="dessert">Dessert</br>
    <input type="radio" name="course" value="beverage">Beverage</br></br>
    <input type="submit" value="create">
    <a href="{{ url_for('showMenu', restaurant_id = restaurant_id)}}">Cancel</a>
  </form>

{% endblock %}