{% extends "index.html" %}

{% block body %}

<div class="container">
  <form action="{{ url_for('newRestaurant', restaurant_id =  restaurant_id)}}" method="post">
    <div class="form-group centerForm">
      <!-- header -->
      <h1 class="centerRestaurant">Create new restaurant</h1>
      <label for="name">Name:</label>
      <input type="text" size="30" name="name">
      <button type="submit" class="btn btn-primary center-block">Submit</button>
      <a href="{{ url_for('showRestaurants')}}" class="cancelLink">Cancel</a>
    </div>
  </form>
</div>


{% endblock %}