{% extends "index.html" %}

{% block body %}

<!-- main header -->
<div id="headerContainer">
  <img src="https://wallpaperscraft.com/image/restaurant_table_interior_modern_style_39288_1920x1080.jpg" id="headerImg">
  <div id="headerText">
    <h1 id="headerTopText">MenuNow</h1>
    <h2 id = "headerBottomText">
      Menu Catalog of the finest of dining
    </h2>
    <div id="headerLink">
      <a href="#viewRestaurants" class="success">View Restaurants
    </a>
    </div>
  </div>
  <!-- link to view restaurants -->
  <div id="viewRestaurants">
  </div>
</div>

<div class="conainer-fluid">
<!-- create restaurant link -->
<div id="createRestaurant">
    <a href="{{url_for('newRestaurant', restaurants = restaurants)}}" class="success">Create New Restaurant</a>
</div>

<!-- flash messages -->
{% with messages = get_flashed_messages()%}
  {% if messages %}
    <ul>
      {% for message in messages %}
      <li>
        <strong>{{ message }}</strong>
      </li>
      {%  endfor %}
    </ul>
  {% endif %}
{% endwith %}


  <div class="row removePadding">
  {% for restaurant in restaurants %}
    <div class="col-md-4 col-xs-12">
      <div class="restaurantContainer">
        <h1 class="restaurantName">{{ restaurant.name }}</h1>
        <div class="linkCointainer">
          <a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}" class="success">View Restaurant
        </a>

          <a href="{{url_for('editRestaurant', restaurant_id = restaurant.id )}}" class="primary">Edit Restaurant

        </a>

          <a href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}" class="danger">Delete Restaurant
        </a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div><!-- end of row -->
</div>

{% endblock %}